.search-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search-input-container > div {
    white-space: nowrap;
}
.input-search {
    width: 6rem;
    margin: 0 12px 8px 0;
}

.checkbox-label {
    user-select: none;
    cursor: pointer;
    margin-right: 4px;
}
