@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    margin: 0;
    user-select: none;

    font-family: 'Noto Sans JP', serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul,
li {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.wrapper {
    width: 100%;
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;

    overflow: hidden;
}

.message-container {
    width: 100%;
    height: 100%;
    padding: 0 18px;

    position: relative;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;

    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}
@media (min-width: 1024px) {
    .message-container {
        max-width: 500px;
    }
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
    z-index: 0; /* 一番下 */
}

.bg-layer.active {
    opacity: 0.5;
}

.message-ul {
    position: relative;
    z-index: 1;
}

.message-ul .spacer {
    height: 40vh;
}

/*  */

li.message-li {
    margin: 32px 0;

    color: #615365;
    font-size: small;

    .row-container {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 48px 1fr;

        .message-icon {
            grid-row: 1 /3;
            grid-column: 1;

            width: 100%;
        }

        .message-name {
            grid-row: 2;
            grid-column: 2;

            margin-left: 4px;

            font-size: 14px;
            font-weight: 600;
        }

        .message-text {
            grid-row: 3;
            grid-column: 1/ 3;

            position: relative;

            margin-top: 4px;
            padding: 12px;
            border-radius: 8px;

            font-size: 12px;
            font-weight: 500;

            background-color: #ead2de;

            box-shadow: 2px 1px 5px #0004;
        }
        /* .message-text:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -21px;
            margin-top: -18px;
            border: 8px solid transparent;
            border-right: 15px solid #ead2de;
        } */
    }
}

li.message-li.p {
    .row-container {
        .message-icon {
            display: none;
        }

        .message-name {
            grid-column: 1 / 3;
        }

        .message-text {
            background-color: #ced6dc;
        }
        .message-text:before {
            display: none;
        }
    }
}

li.message-li.sub {
    .row-container {
        .message-text {
            background-color: #c7d9bd;
        }
        /* .message-text:before {
            border-right: 15px solid #c7d9bd;
        } */
    }
}

li.message-li.ceo {
    .row-container {
        .message-text {
            background-color: #ffffff;
        }
        /* .message-text:before {
            border-right: 15px solid #ffffff;
        } */
    }
}

.voice-play-button-container {
    position: absolute;
    top: 10px;
    right: 12px;
}
.voice-play-button {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0004;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.voice-play-button svg {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/*  */

li.select-li {
    width: 100%;
    margin: 32px 0;

    color: #615365;
    font-size: small;

    .selects-container {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        .select-content {
            width: 137px;
            margin: 4px;
            padding: 8px 4px;

            text-align: center;
            font-size: 12px;
            font-weight: 500;

            border-radius: 8px;
            background-color: #f8f8f8;

            box-shadow: 2px 1px 5px #0004;

            cursor: pointer;
        }
        .select-content:nth-child(1) {
            outline: 4px solid #f3accb;
        }
        .select-content:nth-child(2) {
            outline: 4px solid #88d7a9;
        }
        .select-content:nth-child(3) {
            outline: 4px solid #f1c97d;
        }
        .select-content:nth-child(4) {
            outline: 4px solid #94cbdf;
        }
        .select-content:nth-child(5) {
            outline: 4px solid #d9a5ec;
        }

        .select-content.selected {
            opacity: 1;
        }
        .select-content.unselected {
            opacity: 0.5;
        }
    }
}

/*  */

#model_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
